<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="CortexSettings">
		<size>792,622</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>Disparity Map</label>
			<pos>24,16</pos>
			<size>456,464</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Quality ( 1..15)</label>
			<pos>32,48</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="Quality" member="yes">
			<value>6</value>
			<pos>136,40</pos>
			<size>32,27</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="SaveButton" member="yes">
			<label>Save</label>
			<default>1</default>
			<pos>416,544</pos>
			<size>157,29</size>
			<handler function="OnSaveButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="CancelButton" member="yes">
			<label>Cancel</label>
			<pos>696,544</pos>
			<handler function="OnCancelButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Start Left Px</label>
			<pos>32,112</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="StartLeft" member="yes">
			<value>15</value>
			<pos>128,104</pos>
			<size>40,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Edge Strictness</label>
			<pos>240,48</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="EdgeStrictness" member="yes">
			<value>25</value>
			<pos>360,40</pos>
			<size>32,27</size>
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="DefaultButton" member="yes">
			<label>Default</label>
			<pos>608,544</pos>
			<handler function="OnDefaultButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Instant Quality (1..15)</label>
			<pos>32,80</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="InstantQuality" member="yes">
			<value>2</value>
			<pos>184,72</pos>
			<size>32,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>Camera Offset Up/Down</label>
			<pos>240,80</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="OffsetUp" member="yes">
			<value>1</value>
			<pos>416,72</pos>
			<size>24,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="OffsetDown" member="yes">
			<value>1</value>
			<pos>448,72</pos>
			<size>24,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>Comparison Expected/Max Threshold</label>
			<pos>40,376</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="ComparisonThreshold" member="yes">
			<value>15000</value>
			<pos>288,232</pos>
			<size>72,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>Comparison Min Score</label>
			<pos>560,344</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="ComparisonMinScore" member="yes">
			<value>30000</value>
			<pos>592,368</pos>
			<size>72,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>Closest Depth Plane</label>
			<pos>40,296</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="ClosestDepth" member="yes">
			<value>90</value>
			<pos>192,288</pos>
			<size>48,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
			<label>Comparison EdgesPerCent Required</label>
			<pos>360,448</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL10" variable="PatchesEdgesPerCent" member="yes">
			<value>15</value>
			<pos>392,232</pos>
			<size>40,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
			<label>%</label>
			<pos>440,240</pos>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="FillHoles" member="yes">
			<label>Fill Holes</label>
			<pos>224,528</pos>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX2" variable="ImproveEdges" member="yes">
			<label>Improve Using Edges</label>
			<pos>40,504</pos>
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<label>Movement</label>
			<pos>552,16</pos>
			<size>208,224</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
			<label>Patch Sensitivity</label>
			<pos>576,40</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL11" variable="PatchSensitivity" member="yes">
			<value>7</value>
			<pos>704,32</pos>
			<size>40,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
			<label>RGB Threshold</label>
			<pos>576,64</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL12" variable="MinR" member="yes">
			<value>25</value>
			<pos>600,88</pos>
			<size>32,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL13" variable="MinG" member="yes">
			<value>25</value>
			<pos>664,88</pos>
			<size>32,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL14" variable="MinB" member="yes">
			<value>25</value>
			<pos>720,88</pos>
			<size>32,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="yes">
			<label>R</label>
			<pos>584,88</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="yes">
			<label>G</label>
			<pos>648,88</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL15" variable="MaxR" member="yes">
			<value>45</value>
			<pos>600,120</pos>
			<size>32,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL16" variable="MaxG" member="yes">
			<value>45</value>
			<pos>664,120</pos>
			<size>32,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL17" variable="MaxB" member="yes">
			<value>45</value>
			<pos>720,120</pos>
			<size>32,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
			<label>B</label>
			<pos>704,88</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
			<label>R</label>
			<pos>584,120</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText17" member="yes">
			<label>G</label>
			<pos>648,120</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText18" member="yes">
			<label>B</label>
			<pos>704,120</pos>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX3" variable="DepthMapGuesses" member="yes">
			<label>Depth Map Guessing</label>
			<pos>40,528</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText19" member="yes">
			<label>Patch Histogram Threshold</label>
			<pos>504,192</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT20" variable="StaticText20" member="yes">
			<label>R</label>
			<pos>496,230</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL18" variable="PatchMinR" member="yes">
			<value>18</value>
			<pos>512,224</pos>
			<size>32,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticText21" member="yes">
			<label>G</label>
			<pos>552,230</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL19" variable="PatchMinG" member="yes">
			<value>18</value>
			<pos>568,224</pos>
			<size>32,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT22" variable="StaticText22" member="yes">
			<label>B</label>
			<pos>608,230</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL20" variable="PatchMinB" member="yes">
			<value>18</value>
			<pos>632,224</pos>
			<size>32,27</size>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX4" variable="ImproveUsingHistogram" member="yes">
			<label>Depth Map Improve Using Histogram</label>
			<checked>1</checked>
			<pos>40,552</pos>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX5" variable="DoNotProcessFar" member="yes">
			<label>Do not process closer</label>
			<pos>40,320</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL21" variable="EdgeStrictnessHigh" member="yes">
			<value>150</value>
			<pos>424,40</pos>
			<size>40,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT23" variable="StaticText23" member="yes">
			<label>to</label>
			<pos>400,48</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL22" variable="ComparisonExpectedThreshold" member="yes">
			<value>5000</value>
			<pos>312,368</pos>
			<size>64,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT24" variable="StaticText24" member="yes">
			<label>Small Patches</label>
			<pos>32,240</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT25" variable="StaticText25" member="yes">
			<label>Medium Patches</label>
			<pos>32,205</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT26" variable="StaticText26" member="yes">
			<label>Large Patches</label>
			<pos>32,168</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL23" variable="PatchSizeXSmall" member="yes">
			<value>30</value>
			<pos>176,232</pos>
			<size>40,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL24" variable="PatchSizeYSmall" member="yes">
			<value>30</value>
			<pos>232,232</pos>
			<size>40,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL25" variable="PatchSizeXMedium" member="yes">
			<value>50</value>
			<pos>176,200</pos>
			<size>40,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL26" variable="PatchSizeYMedium" member="yes">
			<value>50</value>
			<pos>232,200</pos>
			<size>40,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL27" variable="PatchSizeXLarge" member="yes">
			<value>100</value>
			<pos>176,168</pos>
			<size>40,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL28" variable="PatchSizeYLarge" member="yes">
			<value>100</value>
			<pos>232,168</pos>
			<size>40,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL29" variable="ComparisonThresholdLarge" member="yes">
			<value>200000</value>
			<pos>288,168</pos>
			<size>72,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL30" variable="ComparisonThresholdMedium" member="yes">
			<value>100000</value>
			<pos>288,200</pos>
			<size>72,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT27" variable="StaticText27" member="yes">
			<label>Size X/Y</label>
			<pos>200,136</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT28" variable="StaticText28" member="yes">
			<label>Threshold</label>
			<pos>288,136</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT29" variable="StaticText29" member="yes">
			<label>Edge Quota</label>
			<pos>376,136</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL31" variable="PatchesEdgesPercentMedium" member="yes">
			<value>5</value>
			<pos>392,200</pos>
			<size>40,27</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL32" variable="PatchesEdgesPercentLarge" member="yes">
			<value>1</value>
			<pos>392,168</pos>
			<size>40,27</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT30" variable="StaticText30" member="yes">
			<label>%</label>
			<pos>440,208</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT31" variable="StaticText31" member="yes">
			<label>%</label>
			<pos>440,176</pos>
		</object>
		<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
			<pos>168,160</pos>
			<size>296,0</size>
		</object>
	</object>
</wxsmith>
